/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2ebe3;
}
.produto {
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.produto_card {
    height: 450px;
    width: 600px;
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
}
.produto_img img {
    height: 450px;
    width: 300px;
    border-radius: 15px 0px 0px 15px;
}
.card_perfume {
    padding: 30px 43px 30px 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.card_perfume p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.card_perfume h1 {
    font-family: "Fraunces", serif;
    font-size: 30px;
    color: #1c232b;
    line-height: 1.0;
}
.card_perfume h2 {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #6c7289;
    line-height: 25px;
}
.card_preco {
    margin: 25px 0px;
    display: flex;
}
.card_valor1 {
    display: flex;
    align-items: center;
}
.card_valor2 {
    display: flex;
    align-items: center;
}
.card_valor1 span {
    color: #3c8067;
    font-family: "Fraunces", serif;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    letter-spacing: 0px;
}
.card_valor2 span {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-decoration: line-through;
    margin: 0px;
    letter-spacing: 0px;
}
.card_carrinho {
    color: #ffffff;
    display: flex;
    justify-content: left;
    width: 240px;
}
.card_carrinho a {
    border-radius: 9px;
    background-color: #1A4031;
    padding: 5px 30px;
    height: 45px;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_carrinho img {
    margin-right: 10px;

}
.attribution {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}